
/* Medium Devices, Desktops */
@media screen and (max-width : 1019px) {
   .wrapper,
   .main-slider,
   .item{
       width: 100%;
   }

   .left__arrow {
      left: 30px;
      top: 212px;
   }

   .right__arrow {
      right: 30px;
      top: 212px;
   }

   .our-services__name,
   .our-services__description,
   .layout-3-column,
   .portfolio__name,
   .portfolio__description,
   .portfolio-tag,
   .portfolio-images,
   .about-us__name,
   .about-us__description,
   .contacts__name,
   .layout-3-column-about-us,
   .contacts__description,
   .contact_form {
      padding: 0 40px;
   }

   .layout-3-column {
       grid-template-columns: repeat(2,auto);
   }

   .portfolio-images {
      grid-template-columns: repeat(3,auto);
      padding-bottom: 65px;
   }

   .contacts_block {
      padding-top: 59px;
   }

   .form-element {
      width: 100%;
      margin-bottom: 12px;

   }

   .last-element-form {
      height: 159px;
   }

   .submit {
      width: 136px;
   }

   .contact_info-description {
      width: 221px;
      margin-top: -14px;
   }

   .contact_info {
      margin-left: 29px;
   }

   .contact {
      margin-top: 40px;
   }

   .footer__copyright {
      padding-left: 41px;
   } 

   .footer_block .social-icons {
      padding-right: 40px;
      margin-right: 0;
   }
}






/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
   h1 {
      margin-left: 27%;
   }
   
   .navbar {
      display: block;
      padding-top: 40px;
      padding-left: 65px;
   }

  /* стилизуем кнопку */
   .menu__btn {
      display: flex; 
      align-items: center;
      position: fixed;
      top: 33px;
      left: 20px;
      width: 25px;
      height: 20px;
      cursor: pointer;
      z-index: 1;
   }

 /* добавляем "гамбургер" */
   .menu__btn > span,
   .menu__btn > span::before,
   .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2.4px;
      background-color: #ffffff;
      border-radius: 5px;
   }

   .menu__btn > span::before {
      content: '';
      top: 7px;
   }

   .menu__btn > span::after {
      content: '';
      top: -7px;
   }

   /* контейнер меню */
   .navigation {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      width: 278px;
      height: 100%;
      margin: 0;
      padding: 150px 0;
      list-style: none;
      background-color: #2D303A;
      box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
   }  

 /* элементы меню */
   .navigation a {
      display: block;
      padding: 27px 71px;
      font-size: 24px;
   }

   #menu__toggle:checked ~ .menu__btn {
      top: 33px;
      left: 20px;
      width: 20px;
      height: 25px;
   }

 
   #menu__toggle:checked ~ .menu__btn > span,
   #menu__toggle:checked ~ .menu__btn > span::before,
   #menu__toggle:checked ~ .menu__btn > span::after {
      width: 2.4px;
      height: 100%;
   }

   #menu__toggle:checked ~ .menu__btn > span::before {
      content: '';
      right: -14px;
      top: 0px;
   }

   #menu__toggle:checked ~ .menu__btn > span::after {
      content: '';
      right: -7px;
      top: 0;
   }

   #menu__toggle:checked ~ .navigation {
      visibility: visible;
      left: 0;
   }

   #menu__toggle:checked ~ .navbar > a {
      display: block;
      position: absolute;
      z-index: 5;
   }

   .left__arrow {
      left: 10px;
      top: 93px;
   }

   .right__arrow {
      right: 10px;
      top: 93px;
   }

   .our-services__name,
   .our-services__description,
   .layout-3-column,
   .portfolio__name,
   .portfolio__description,
   .portfolio-tag,
   .portfolio-images,
   .about-us__name,
   .about-us__description,
   .contacts__name,
   .layout-3-column-about-us,
   .contacts__description,
   .contact_form {
      padding: 0 30px;
   }

   .layout-3-column {
       grid-template-columns: repeat(1,auto);
   }

   .portfolio-images {
      grid-template-columns: repeat(2,auto);
      padding-bottom: 42px;
      grid-column-gap: 14px;
   }

   .portfolio_image {
      margin-right: 14px;
      margin-top: 14px;
  }

   .portfolio-tag {
      margin-bottom: 10px;
   }

   .tag {
      margin-right: 0px;
   }

   .layout-3-column-about-us {
      grid-template-columns: repeat(1,auto);
      margin-bottom: 10px;
   }

   .about-us__employee {
      padding-bottom: 34px;
   }   

   .contact_form {
      display: block;
   }

   .contact_info {
      margin: 32px 0 0 0;
   }

   .contact_info-description {
      width: 100%;
   }

   .contact {
      margin-top: -18px;
   }

   .submit {
      width: 100%;
   }

   .footer__copyright {
      opacity: 0;
   }

   .footer_block {
      display: block;
      padding: 18px 0;
   }

   .footer_block .social-icons {
      padding: 0;
      margin-top: -6%;
      margin-left: 28%;
   }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 374px) {
   .advantages {
      height: 144px;
   }
}