
@font-face{
  font-family: "LatoBlack";
  src: url("assets/Lato/Lato-Black.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
  }

@font-face{
  font-family: "LatoBold";
  src: url("assets/Lato/Lato-Bold.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
  } 

@font-face{
  font-family: "LatoLight";
  src: url("assets/Lato/Lato-Light.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
  }

@font-face{
  font-family: "Lato";
  src: url("assets/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
  }

body {
  font-family: "Lato";
  width: 1020px;
  margin: 0 auto;
}

.header {
  height: 89px;
  background-color: #2d303a;
  margin: 0;
}

.navbar {
  display: grid;
  padding: 0px 41px;
  grid-template-columns: 50% 50%;
  align-items: center;
  height: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Lato";
  font-size: 24px;
  line-height: 6px;
  color: #ffffff;
  font-weight: 500;
  margin: 0;
}

h1 span {
  color: #f06c64;
}

h1, li {
  text-transform: uppercase;
}

.navigation {
  display: grid;
  grid-gap: 33px;
  grid-template-columns: repeat(5,auto);
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header__nav {
  margin-top: 10px;
  margin-left: 100px;
  height: 100%;
}

.navigation li {
  font-family: "Lato";
  font-size: 11px;
  line-height: 6px;
  font-weight: 500;
  color: #ffffff;
  list-style-type: none;
} 

.navigation .link-first {
    color: #f06c64;
}

.navigation li:hover {
  color: #f06c64;
}

.nav_hr {
  height: 6px;
  width: 1020px;
  background-color: #323746;
  margin: 0;
  border: 0;
}

.main-slider {
  width: 1020px;
  height: 595px;
  background-color: #f06c64;
}

.bg-bottom {
  width: 1020px;
  height: 5px;
  background-color: #ea676b;
  margin: 0;
  border: 0;
}

.wrapper {
  position: relative;
}

.iphone__vertical {
  position: absolute;
  top: -17px;
  left: 110px;
}

.iphone__horizontal {
  position: absolute;
  top: 69px;
  right: 80px;
}

.left__arrow {
  position: absolute;
  top: 278px;
  left: 42px;
}

.left__arrow:hover {
  color: #2d303a;
}

.right__arrow {
  position: absolute;
  top: 279px;
  right: 40px;
  transform: rotate(180deg);    
}

.hidden {
  transform: rotate(180deg);
}

.visible {
  z-index: 1;
  position: absolute;
}

.visible:hover {
  display: none;
}

main {
  background-color: #f2f2f2;;
}

.our-services {
  width: 940px;
  height: 434px;
  margin: 0 auto;
}

.our-services_blok {
  margin-top: 61px;
}

.our-services__name {
  font-family: "LatoBlack";
  font-size: 29px;
  letter-spacing: 0.4px;
  color: #666d89;
  margin: 0;
}

.our-services__description {
  font-family: "LatoLight";
  width: 940px;
  height: 57px;
  line-height: 29px;
  color: #767e9e;
  text-align: justify;
  margin-top: 19px;
  font-size: 18px;
}

.advantages__name {
  font-family: "LatoBlack";
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  text-align: left;
  
  margin: 0;
}

.advantages__content p {
  font-family: "Lato";
  width: 219px;
  height: 65px;
  font-size: 0.75rem;
  line-height: 22px;
  color: #767e9e;
  text-align: justify;
  margin-top: 9px;
}

.layout-3-column {
  display: grid;
  grid-template-columns: repeat(3,auto);
  margin-top: 46px;
}

.advantages {
  display: flex;
  margin-right: 6px;
  width: 313px;
  height: 123px;
}

.advantages__content {
  padding: 0 17px 0 20px; 
}

.left__arrow svg:hover {
  fill: black;
}

.content {
  width: 1020px;
  height: 6px;
  background-color: #ffffff;
  margin: 0;
  border: 0;
}


.portfolio  {
  width: 1020px;
  height: 863px;
  background-color: #2d303a;
}

.portfolio_blok {
  width: 940px;
  margin: 0 auto;

}

.portfolio__name {
  font-family: "LatoBlack";
  font-size: 29px;
  letter-spacing: 0.4px;
  color: #666d89;
  margin: 0;
  padding-top: 61px;
}

.portfolio__description {
  font-family: "LatoLight";
  width: 940px;
  line-height: 29px;
  color: #767e9e;
  text-align: justify;
  margin-top: 19px;
  font-size: 18px;
  margin-bottom: 9px;
}

.tag {
  border-radius: 5px;
  background-color: #2d303a;
  border: 1px solid #666d89;
  font-size: 12px;
  line-height: 18px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  margin-right: 6px;
}

.tag:hover {
  border: 1px solid #c5c5c5;
  color: #c5c5c5;
}

.tag-first {
    border: 1px solid #c5c5c5;
    color: #c5c5c5;
}

.portfolio-images {
  display: grid;
  grid-template-columns: repeat(4,auto);

}
.portfolio_image {
    display: flex;
    margin-right: 20px;
    margin-top: 19px;
}

.bottom-portfolio {
    width: 1020px;
    height: 6px;
    background-color: #323746;
    margin: 0;
    border: 0;
}

.about-us {
    width: 940px;
    height: 673px;
    margin: 0 auto;
}
  
.about-us_blok {
    margin-top: 61px;
  }
  
.about-us__name {
    font-family: "LatoBlack";
    font-size: 29px;
    letter-spacing: 0.4px;
    color: #666d89;
    margin: 0;
}
  
.about-us__description {
    font-family: "LatoLight";
    width: 940px;
    height: 57px;
    line-height: 29px;
    color: #767e9e;
    text-align: justify;
    margin-top: 19px;
    font-size: 18px;
}
  
.about-us__employee-name {
    font-family: "LatoBlack";
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    text-align: left;  
    margin-top: 13px;
}
  
.about-us__employee-description {
    font-family: "Lato";
    width: 300px;
    height: 53px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    text-align: justify;
    margin-top: -8px;
}
  
.layout-3-column-about-us {
    display: grid;
    grid-template-columns: repeat(3,320px);
    margin-top: 46px;
}
  
.about-us__employee {
    margin-right: 6px;
  }

.social-icons {
      display: grid;
      grid-template-columns: repeat(4,40px);
  }

.icon:hover {
    opacity: 0.7;
}
