@font-face{
  font-family: "LatoBlack";
  src: url("assets/Lato/Lato-Black.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
  }

@font-face{
  font-family: "LatoBold";
  src: url("assets/Lato/Lato-Bold.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
  } 

@font-face{
  font-family: "LatoLight";
  src: url("assets/Lato/Lato-Light.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
  }

@font-face{
  font-family: "Lato";
  src: url("assets/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
  }

body {
  font-family: "Lato";
  width: 100%;
  margin: 0 auto;
}

main {
  background-color: #f2f2f2;
  margin-top: 83px;
  width: 100%;
}

/* Header */

.header {
  height: 89px;
  background-color: #2d303a;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: 6px #323746 solid;
  margin-top: -9px;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

#menu__toggle {
  opacity: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
  align-items: center;
  height: 81px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Lato";
  font-size: 24px;
  line-height: 6px;
  color: #ffffff;
  font-weight: 500;
  margin: 0;
}

h1 span {
  color: #f06c64;
}

h1, li {
  text-transform: uppercase;
}

/* Navigation */

.navigation {
  display: grid;
  grid-gap: 33px;
  grid-template-columns: repeat(5,auto);
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header__nav {
  margin-top: -30px;
  margin-left: 100px;
  height: 100%;
}

.navigation a {
  font-family: "Lato";
  font-size: 11px;
  line-height: 6px;
  font-weight: 500;
  color: #ffffff;
 
} 

.navigation li {
  list-style-type: none;
}

.navigation a:hover {
  color: #f06c64;
}

.navigation .item-link {
  color: #f06c64;
}

/* Slider */

.main-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 1020px;
}

.slide__img img {
  width: 100%;
}

.item-container {
  display: flex;
}

.item {
  flex-shrink: 0;
  position: relative;
  left: 0;
}

.div_vertical {
  position: absolute;
  width: 216px;
  height: 458px;
  top: 54px;
  left: 112px;
  border-radius: 7%;
}

.screen .vertical {
  width: 188px;
  height: 333px;
  background: #161616;
  position: absolute;
  top: 119px;
  left: 126px;
  visibility: hidden;
}

.div_horizontal {
  position: absolute;
  width: 458px;
  height: 216px;
  top: 177px;
  right: 137px;
  border-radius: 7%;
}

.screen .horizontal {
  width: 333px;
  height: 188px;
  background: #161616;
  position: absolute;
  top: 191px;
  left: 485px;
  visibility: hidden;
}

.left__arrow {
  position: absolute;
  top: 283px;
  left: 40px;
  cursor: pointer;
  transform: rotate(0deg);
}

.left__arrow:hover {
  color: #2d303a;
}

.right__arrow {
  position: absolute;
  top: 283px;
  right: 40px;
  transform: rotate(180deg);
  cursor: pointer;  
}

.hidden {
  transform: rotate(180deg);
}

.visible {
  z-index: 1;
  position: absolute;
}

.visible:hover {
  display: none;
}

.our-services_block {
  margin-top: 61px;
  width: 940px;
  padding-bottom: 20px;
}

.our-services__name {
  font-family: "LatoBlack";
  font-size: 29px;
  letter-spacing: 0.4px;
  color: #666d89;
  margin: 0;
  text-overflow: ellipsis;
}

.our-services__description {
  font-family: "LatoLight";
  line-height: 29px;
  color: #767e9e;
  text-align: justify;
  margin-top: 19px;
  font-size: 18px;
  text-overflow: ellipsis;
}

/* Advantages */

.advantages__name {
  font-family: "LatoBlack";
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  text-align: left;
  text-overflow: ellipsis;
  margin: 0;
}

.advantages__content p {
  font-family: "Lato";
  height: 65px;
  font-size: 0.75rem;
  line-height: 22px;
  color: #767e9e;
  text-align: justify;
  margin-top: 9px;
  text-overflow: ellipsis;
}

.layout-3-column {
  display: grid;
  grid-template-columns: repeat(3,auto);
  margin-top: 46px;
}

.advantages {
  display: flex;
  margin-right: 6px;
  height: 123px;
  overflow: hidden;
}

.advantages__content {
  padding: 0 17px 0 20px; 
}

.left__arrow svg:hover {
  fill: black;
}

/* Portfolio */

.portfolio  {
  width: 100%;
  background-color: #2d303a;
  margin-top: -89px;
  border-top: 85px solid #f2f2f2;
  border-bottom: 6px #323746 solid;
}

.portfolio_block {
  width: 940px;
  margin: 0 auto;
  padding-top: 59px;

}

.portfolio__name {
  font-family: "LatoBlack";
  font-size: 29px;
  letter-spacing: 0.4px;
  color: #666d89;
  margin: 0;
  padding-top: 59px;
}

.portfolio__description {
  font-family: "LatoLight";
  line-height: 29px;
  color: #767e9e;
  text-align: justify;
  margin-top: 19px;
  font-size: 18px;
  margin-bottom: 9px;
  text-overflow: ellipsis;
}

.tag {
  border-radius: 5px;
  background-color: #2d303a;
  border: 1px solid #666d89;
  font-size: 12px;
  line-height: 18px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  margin-right: 6px;
}

.tag:hover {
  border: 1px solid #c5c5c5;
  color: #c5c5c5;
  cursor: pointer; 
}


.tag-first {
    border: 1px solid #c5c5c5;
    color: #c5c5c5;
}

.portfolio-images {
  display: grid;
  grid-template-columns: repeat(4,auto);
  padding-bottom: 65px;
  grid-column-gap: 20px;
}

.portfolio-images img {
  width: 100%;
}

.portfolio-images .border {
  border: #F06C64 5px solid;
  margin-top: 5px !important;
  margin-right: 10px !important;
}

.portfolio_image {
    display: flex;
    margin-right: 20px;
    margin-top: 19px;
}

/* About us */

.about-us {
    margin: 0 auto;
    border-bottom: 6px #ffffff solid;
}
  
.about-us_block {
    margin-top: 61px;
    width: 940px;
  }
  
.about-us__name {
    font-family: "LatoBlack";
    font-size: 29px;
    letter-spacing: 0.4px;
    color: #666d89;
    margin: 0;
    text-overflow: ellipsis;
}
  
.about-us__description {
    font-family: "LatoLight";
    line-height: 29px;
    color: #767e9e;
    text-align: justify;
    margin-top: 19px;
    font-size: 18px;
    text-overflow: ellipsis;
}

/* Employee */

.about-us__employee-name {
    font-family: "LatoBlack";
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    text-align: left;  
    margin-top: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 18px;
}
  
.about-us__employee-description {
    font-family: "Lato";
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    text-align: justify;
    margin-top: -8px;
    text-overflow: ellipsis;
}
  
.layout-3-column-about-us {
    display: grid;
    grid-template-columns: repeat(3,auto);
    margin-top: 46px;
    margin-bottom: 62px;
    grid-column-gap: 20px;
}

.about-us__employee-photo {
  width: 100%;
}

/* Social icon */

.social-icons {
      display: grid;
      grid-template-columns: repeat(4,40px);
  }

.icon:hover {
    opacity: 0.7;
}

/* Contacts */

.contacts {
  width: 100%;
  background-color: #f06c64;
  margin-top: -73px;
  border-top: 50px solid #f2f2f2;
  border-bottom: 6px #323746 solid;
}

.contacts_block {
  width: 940px;
  margin: 0 auto;
}

.contacts__name {
  font-family: "LatoBlack";
  font-size: 29px;
  letter-spacing: 0.4px;
  color: #f0d8d9;
  margin: 0;
  padding-top: 60px;
}

.contacts__description {
  font-family: "LatoLight";
  line-height: 29px;
  color: #f0d8d9;
  text-align: justify;
  margin-top: 19px;
  font-size: 18px;
  text-overflow: ellipsis;
}

/* Form */

.form-element {
  width: 618px;
  border-radius: 5px;
  background-color: #d6564f;
  height: 38px;
  border: 0;
  margin-bottom: 16px;
  color: #f48c8f;
}

.form-element::placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  padding-left: 13px;
}

.submit {
  width: 136px;
  background-color: #FBC65F;
  cursor: pointer;
  padding-left: 0px;
  color: #886A30;
  font-size: 14px;
}

textarea {
  resize: none;
  padding-top: 10px;
}

.last-element-form {
  height: 190px;
}

.textarea::placeholder {
  padding-top: 13px;
}

/* Contacts form */

.contact_form {
  display: flex;
  margin-top: 44px;
  justify-content: space-between;
  margin-bottom: 58px;
}

.contact_info-name {
  font-family: "LatoBlack";
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  text-align: left;  
  margin-top: 1px;
}

.contact_info-description {
  font-family: "Lato";
  width: 300px;
  height: 104px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  text-align: justify;
  margin-top: -8px;
  text-overflow: ellipsis;
}

.contact_link {
  font-family: "Lato";
  width: 300px;
  font-size: 12px;
  line-height: 21px;
  color: #f0d8d9;
  text-align: justify;
}

.contact_link:hover {
  color: #323746;
}

.contact {
  margin-left: 3px;
  margin-top: -9px;
}

.icon {
  display: inline-block;
  cursor: pointer;
}

.icon_location {
  width: 7px;
  height: 11px;
  margin-right: 10px;
}

.icon_phone {
  background-image: url("/assets/icon/phone.svg");
  width: 11px;
  height: 11px;
  margin-right: 8px;
  margin-left: -2px;
}

.icon_mail {
  background-image: url("/assets/icon/mail.svg");
  width: 13px;
  height: 8px;
  margin-right: 6px;
  margin-left: -2px;
}

/* Footer */

.footer  {
  width: 100%;
  background-color: #2d303a;
}

.footer_block {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 29px;
}

.footer__copyright {
  font-family: "Lato";
  font-size: 12px;
  line-height: 21px;
  color: #666d89;
  text-align: justify;
}

.footer_block .social-icons {
  margin-top: -6px;
  margin-right: -7px;
}

#services:before,
#about:before {
	display: block;
	content: "";
	height: 85px;
	margin: -85px 0 0 0;
}

